[submodule "packages/contract/lib/openzeppelin-contracts"]
	path = packages/contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/contract/lib/chainlink-brownie-contracts"]
	path = packages/contract/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "packages/contract/lib/chainlink"]
	path = packages/contract/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
